* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: darkgray;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper .static_txt {
  color: white;
  font-family: monospace;
  font-size: 50px;
}
.wrapper .dynamic_txt {
  font-family: monospace;
  font-size: 30px;
  margin-left: 0;
  height: 60px;
  overflow: hidden;
}
.dynamic_txt li {
  list-style: none;
  color: chocolate;
  font-size: 50px;
  top: 0;
  position: relative;
  animation: slide 6s steps(4) infinite;
}
@keyframes slide {
  100% {
    top: -290px;
  }
}
.dynamic_txt li span {
  position: relative;
}
.dynamic_txt li span::after {
  content: "";
  position: absolute;
  height: 120%;
  width: 100%;
  left: 0;
  background-color: darkgray;
  border-left: 2px solid coral;
  animation: typing 1.5s steps(12) infinite;
}
@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -35px 0 35px;
  }
}
.kotak.kotak-home {
  color: dimgray;
  width: 70%;
  background-color: lavender;
  transition: 2s ease all;
  margin: auto;
  margin-top: 30px;
  overflow: hidden;
}
.kotak.kotak-home:hover {
  background-color: gainsboro;
  width: 90%;
  height: max-content;
}
.kotak.kotak-about {
  color: dimgray;
  width: 70%;
  background-color: lavender;
  transition: 2s ease all;
  margin: auto;
  margin-top: 30px;
  overflow: hidden;
}
.kotak.kotak-about:hover {
  background-color: gainsboro;
  width: 90%;
  height: max-content;
}
/* .kotak {
  width: 200px;
  height: 200px;
  background-color: lightblue;
  transition: 2s ease all;
  margin: auto;
  margin-top: 30px;
}
.kotak:hover {
  background-color: pink;
  width: 300px;
} */
.col h1,
p {
  color: whitesmoke;
}
.card-body h5,
p {
  text-align: left;
  color: black;
}
